<!-- android/app/src/main/AndroidManifest.xml -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Izin untuk lokasi -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Izin untuk internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="Kang Jati"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon">

        <!-- =================== PERUBAHAN UTAMA DI SINI =================== -->
        <!-- Tambahkan API Key Google Maps Anda -->
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD4URra0X9wmtzDB_Q9j_9fppSukqkP9Qw"/>
        <!-- =============================================================== -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
                />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>